.title {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.label {
    font-size: 1em;
}

.grid-columns {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: fit-content(30vw) auto;
}

.grid-item {
    margin: 10px;
}

#send-container {
    margin: 10px;
    display: none;
    justify-content: center;
    align-items: center;
}

#send {
    font-size: 1.5em;
}

.uploadDropbox {
    outline: 2px dashed grey; /* the dash box */
    outline-offset: -10px;
    background: lightcyan;
    color: dimgray;
    padding: 10px 10px;
    min-height: 200px; /* minimum height */
    position: relative;
    cursor: pointer;
}

.input-file {
    opacity: 0; /* invisible but it's there! */
    width: 100%;
    height: 200px;
    position: absolute;
    cursor: pointer;
}

.uploadDropbox:hover {
    background: lightblue; /* when mouse over to the drop zone, change color */
}

.uploadDropbox p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    text-align: center;
    padding: 50px 0;
}

#preview {
    display: none;
    max-height: 50vh;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

#loader {
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

#response {
    width: 80vw;
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
    width:320px;
    height:240px;
}

#canvas {
    display:none;
}

#webcam-send-container {
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
}